doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title שפיצים - תפקיד שתמיד חלמתה! - Home
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900', rel='stylesheet', type='text/css')
    meta(property='og:site_name', content='שפיצים - תפקיד שתמיד חלמתה!')
    meta(property='og:title', content='שפיצים - תפקיד שתמיד חלמתה! ')
    meta(property='og:description', content='חיילים, או איש קבע מוסיפים קורות חיים ותפקיד שהם רוצים')
    meta(property='og:image', content='./files/279908580_orig.png')
    meta(property='og:image', content='./files/268888154.png')
    meta(property='og:image', content='./files/448468439_orig.png')
    meta(property='og:image', content='./files/692463832.png')
    meta(property='og:image', content='./files/background-images/1215369703.jpg')
    meta(property='og:url', content='http://idfhr.herokuapp.com/')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link#wsite-base-style(rel='stylesheet', type='text/css', href='./files/sites.css')
    link(rel='stylesheet', type='text/css', href='./files/fancybox.css')
    link(rel='stylesheet', type='text/css', href='./files/social-icons.css', media='screen,projection')
    link(rel='stylesheet', type='text/css', href='./files/main_style.css', title='wsite-theme-css')
    link(href='./files/robotofont.css', rel='stylesheet', type='text/css')
    link(href='./files/roboto.css', rel='stylesheet', type='text/css')
    style(type='text/css').
      .wsite-elements.wsite-not-footer div.paragraph,
      .wsite-elements.wsite-not-footer p,
      .wsite-elements.wsite-not-footer .product-block .product-title,
      .wsite-elements.wsite-not-footer .product-description,
      .wsite-elements.wsite-not-footer .wsite-form-field label,
      .wsite-elements.wsite-not-footer .wsite-form-field label,
      #wsite-content div.paragraph,
      #wsite-content p,
      #wsite-content .product-block .product-title,
      #wsite-content .product-description,
      #wsite-content .wsite-form-field label,
      #wsite-content .wsite-form-field label,
      .blog-sidebar div.paragraph,
      .blog-sidebar p,
      .blog-sidebar .wsite-form-field label,
      .blog-sidebar .wsite-form-field label {}
      #wsite-content div.paragraph,
      #wsite-content p,
      #wsite-content .product-block .product-title,
      #wsite-content .product-description,
      #wsite-content .wsite-form-field label,
      #wsite-content .wsite-form-field label,
      .blog-sidebar div.paragraph,
      .blog-sidebar p,
      .blog-sidebar .wsite-form-field label,
      .blog-sidebar .wsite-form-field label {}
      .wsite-elements.wsite-footer div.paragraph,
      .wsite-elements.wsite-footer p,
      .wsite-elements.wsite-footer .product-block .product-title,
      .wsite-elements.wsite-footer .product-description,
      .wsite-elements.wsite-footer .wsite-form-field label,
      .wsite-elements.wsite-footer .wsite-form-field label {}
      .wsite-elements.wsite-not-footer h2,
      .wsite-elements.wsite-not-footer .product-long .product-title,
      .wsite-elements.wsite-not-footer .product-large .product-title,
      .wsite-elements.wsite-not-footer .product-small .product-title,
      #wsite-content h2,
      #wsite-content .product-long .product-title,
      #wsite-content .product-large .product-title,
      #wsite-content .product-small .product-title,
      .blog-sidebar h2 {}
      #wsite-content h2,
      #wsite-content .product-long .product-title,
      #wsite-content .product-large .product-title,
      #wsite-content .product-small .product-title,
      .blog-sidebar h2 {}
      .wsite-elements.wsite-footer h2,
      .wsite-elements.wsite-footer .product-long .product-title,
      .wsite-elements.wsite-footer .product-large .product-title,
      .wsite-elements.wsite-footer .product-small .product-title {}
      #wsite-title {
      font-family: "Roboto" !important;
      font-weight: 400 !important;
      font-style: normal !important;
      }
      .wsite-menu-default a {}
      .wsite-menu a {}
      .wsite-image div,
      .wsite-caption {}
      .galleryCaptionInnerText {}
      .fancybox-title {}
      .wslide-caption-text {}
      .wsite-phone {}
      .wsite-headline {
      font-family: "Roboto" !important;
      font-size: 16px !important;
      font-weight: 700 !important;
      line-height: 18px !important;
      }
      .wsite-headline-paragraph {
      font-family: "Roboto" !important;
      }
      .wsite-button-inner {
      font-family: "Roboto" !important;
      font-weight: 700 !important;
      font-style: normal !important;
      text-transform: uppercase !important;
      }
      .wsite-not-footer blockquote {
      font-family: "Roboto" !important;
      font-size: 18px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      font-style: italic !important;
      text-transform: none !important;
      }
      .wsite-footer blockquote {}
      .blog-header h2 a {}
      #wsite-content h2.wsite-product-title {}
      .wsite-product .wsite-product-price a {}
      .wsite-button-small .wsite-button-inner {
      font-size: 14px !important;
      }
      .wsite-button-large .wsite-button-inner {
      font-size: 19px !important;
      }
    style.
      .wsite-background {
      background-image: url("./files/1215369703.jpg") !important;
      background-repeat: no-repeat !important;
      background-position: 50% 50% !important;
      background-size: 100% !important;
      background-color: transparent !important;
      background: inherit;
      }
      body.wsite-background {
      background-attachment: fixed !important;
      }
      .wsite-background.wsite-custom-background {
      background-size: cover !important;
      }
    script(async='', src='http://d383nfj8voyf25.cloudfront.net/2.5.3/sp.js')
    script(async='', src='http://www.google-analytics.com/analytics.js')
    script(src='http://edge.quantserve.com/quant.js', async='', type='text/javascript')
    script(type='text/javascript', async='', src='http://www.google-analytics.com/ga.js')
    script.
      <!--
      var STATIC_BASE = '//cdn1.editmysite.com/';
      var STYLE_PREFIX = 'wsite';
      //-->
    script(type='text/javascript').
      try {
      window.AG_onLoad = function(func) {
      if (window.addEventListener) {
      window.addEventListener('DOMContentLoaded', func);
      }
      };
      window.AG_removeElementById = function(id) {
      var element = document.getElementById(id);
      if (element && element.parentNode) {
      element.parentNode.removeChild(element);
      }
      };
      window.AG_removeElementBySelector = function(selector) {
      if (!document.querySelectorAll) {
      return;
      }
      var nodes = document.querySelectorAll(selector);
      if (nodes) {
      for (var i = 0; i < nodes.length; i++) {
      if (nodes[i] && nodes[i].parentNode) {
      nodes[i].parentNode.removeChild(nodes[i]);
      }
      }
      }
      };
      window.AG_each = function(selector, fn) {
      if (!document.querySelectorAll)
      return;
      var elements = document.querySelectorAll(selector);
      for (var i = 0; i < elements.length; i++) {
      fn(elements[i]);
      };
      };
      var AG_removeParent = function(el, fn) {
      while (el && el.parentNode) {
      if (fn(el)) {
      el.parentNode.removeChild(el);
      return;
      }
      el = el.parentNode;
      }
      };
      var AdFox_getCodeScript = function() {};
      AG_onLoad(function() {
      window.AG_each('iframe[id^="AdFox_iframe_"]', function(el) {
      if (el && el.parentNode) {
      el.parentNode.removeChild(el);
      }
      });
      });
      var _gaq = [];
      var _gat = {
      _getTracker: function() {
      return {
      _initData: function() {},
      _trackPageview: function() {},
      _trackEvent: function() {},
      _setAllowLinker: function() {},
      _setCustomVar: function() {}
      }
      },
      _createTracker: function() {
      return this._getTracker();
      },
      _anonymizeIp: function() {}
      };
      function urchinTracker() {};
      var nol_t = function() {
      return {
      record: function() {
      return {
      post: function() {}
      }
      }
      }
      };
      var addthis = {
      init: function() {},
      addEventListener: function() {},
      button: function() {},
      counter: function() {},
      update: function() {},
      toolbox: function() {}
      };
      } catch (ex) {
      console.error('Error executing AG js: ' + ex);
      }
    style(type='text/css').
      #qoo-counter,
      #ramblerCounter,
      #top100counter,
      a[href^="http://hitcounter.ru/top/stat.php"],
      a[href^="http://top.mail.ru/jump"],
      a[href^="http://top100.rambler.ru/"],
      img[src*="counter.yadro.ru"],
      #ShareModule,
      #SocialButtons,
      #SocialSharingBtns,
      #___follow_0,
      #___plusone_0,
      #__okShare0,
      #addthis_toolbox,
      #block-social,
      #block_social_open,
      #blog-icon,
      #button_share,
      #chorus-social-fixed,
      #dd-fblike,
      #dd-fblike-iframe,
      #dd_ajax_float,
      #ebayShare_1,
      #f_social,
      #facebook-index,
      #facebookShare,
      #facebook_Badge,
      #facebook_like,
      #facebook_soc_button,
      #facebooktrend,
      #fb-friends-recent-activity,
      #fbLikeButton,
      #fb_iframe_widget,
      #fb_loader,
      #floating_social,
      #gigya-sharebar,
      #gplusone,
      #header-social,
      #large_share_wrapper,
      #likeThisPost,
      #menu-share,
      #odnaknopka,
      #ok_shareWidget,
      #ok_shareWidget1,
      #persistent-share,
      #pinterest-share,
      #pluso,
      #plusone,
      #rt_share,
      #sf_social_links {
      display: none!important;
      }
      #share-container,
      #share-holder,
      #share-links,
      #share42,
      #shareBar,
      #shareBarBottom_gig_containerParent,
      #shareBarTop,
      #shareBarTop_gig_containerParent,
      #shareBox,
      #shareFloat,
      #shareHorizontal,
      #shareStrip,
      #share_box,
      #share_button,
      #share_button_links,
      #share_buttons,
      #share_container,
      #share_control,
      #share_post,
      #share_social_sidebar,
      #sharebar,
      #sharebarTop,
      #sharebox,
      #shareinit,
      #sharemenu-wrap,
      #shares-id,
      #sharethis-wrapper,
      #smthemes_share,
      #social-actions,
      #social-bar-fixed,
      #social-bottom-article,
      #social-media,
      #social-plugins,
      #social-popup,
      #social-slider,
      #social-tools-panel,
      #social-widget,
      #social-wrapper,
      #socialBar,
      #socialBlock,
      #socialElementsRuDiv,
      #socialIcons,
      #socialMedia,
      #socialPlugins,
      #socialSlider,
      #social_block,
      #social_bookmarks,
      #social_buttons,
      #social_container,
      #social_modules {
      display: none!important;
      }
      #social_networks_container,
      #social_sidebar,
      #social_tools,
      #social_widget,
      #social_widgets,
      #socialbar,
      #socialbuttons,
      #socialbuttonsbox,
      #socializ,
      #socialize,
      #socializeit,
      #socialnets,
      #socialslider,
      #socialwidget-3,
      #sticky_sharing,
      #top-link-social,
      #top_social,
      #tt_social,
      #twitter-icon,
      #twitterTweet,
      #vk-share,
      #vkontakte-icon,
      #vkontakte_soc_button,
      .-share-buttons,
      .BookmarkShareForm,
      .FBpopupDiv,
      .ShareButton,
      .ShareRail,
      .SocialButtons,
      .SocialMedia_out,
      .ThSocial,
      .a-icon-share-facebook,
      .a-icon-share-pinterest,
      .a-icon-share-twitter,
      .addThis,
      .addthis_button,
      .addthis_button_facebook,
      .addthis_button_twitter,
      .addthis_default_style,
      .addtoany_share_save_container,
      .all_social,
      .all_top-link-social,
      .aol-share,
      .b-article__shares,
      .b-article__social,
      .b-btm-fastsocial,
      .b-post__social_holder,
      .b-post_social,
      .b-share,
      .b-share-list {
      display: none!important;
      }
      .b-share-wrap,
      .b-sharing,
      .b-social,
      .b-social-button,
      .b-social-buttons,
      .b-social-share,
      .b-social-sharing,
      .b-social_like_buttons,
      .b-socials__button,
      .b-socials__share,
      .b-socials_buttons,
      .badge-pinterest-share,
      .block-social-buttons,
      .block-social-dockable,
      .bookmarks-container,
      .bottom-share-buttons,
      .box-social,
      .box_btn_like,
      .buttons_share,
      .c-social-likes,
      .contentSocialBar,
      .cross_socia,
      .dcssb-float,
      .essb_links,
      .etsy-pin-it,
      .etsy-tweet,
      .facebook-like,
      .facebook-share,
      .facebook-small,
      .facebook_like_box,
      .facebook_share_size_Small,
      .facebooklike,
      .fb-button,
      .fb-like,
      .fb-like-box,
      .fb-like-button,
      .fb-share-button,
      .fb-share-container,
      .fb_like_contain,
      .fb_share,
      .fblike,
      .field-name-horizontal-social-widgets,
      .floatee-social-tail,
      .followFacebook,
      .followTwitter,
      .followYoutube,
      .g_plus,
      .gig-share-bar-container,
      .goodshare,
      .google-plus-follow {
      display: none!important;
      }
      .google-plus1,
      .google_plus1_badge,
      .googleplus-one,
      .gplus-like-button,
      .hdsocial2,
      .header-social,
      .heart-button,
      .heart-it-button,
      .help-social-buttons,
      .i_v_fb_like,
      .icon-digg,
      .icon-linkedin,
      .icon-pinterest,
      .icon-pinterest-share,
      .icon-reddit,
      .icon-stumbleupon,
      .img__sharer,
      .inline_socials,
      .j_social_share,
      .js-shares,
      .js-socialise,
      .js-socialise-wrapper,
      .large_share_holder,
      .lazysocialbuttons,
      .like_buttons,
      .like_fb_like_action,
      .likely,
      .likes-bar,
      .likes_block,
      .lj-like,
      .lj-like-item,
      .mashsb-container,
      .mod-follow,
      .mod-stay-connected,
      .mom-social-share,
      .news_social_button,
      .p-button-social,
      .pin-it-button,
      .pinit-btn,
      .pinterest-share,
      .pinterest-share-button,
      .pinterest-sharetool,
      .pinterest-small,
      .pluso,
      .pocket-btn,
      .popup-social,
      .post-item__social,
      .post-social-facebook,
      .post-social-gplus,
      .post-social-tweet {
      display: none!important;
      }
      .post-social-vk,
      .post_likes,
      .pp_socialButton,
      .really_simple_share,
      .recommend_fb_like_action,
      .rt_share,
      .s-sharelist,
      .serp-adv__banner,
      .share-bottom,
      .share-box,
      .share-btn,
      .share-btns,
      .share-button,
      .share-buttons,
      .share-cont,
      .share-counter,
      .share-general,
      .share-help,
      .share-icons-wrap,
      .share-pictures-overlay,
      .share-proposal,
      .share-regular,
      .share-sm-icons,
      .share-text,
      .share-tools,
      .share-wrap,
      .share3,
      .share42init,
      .shareBar,
      .shareButtons,
      .shareComment,
      .shareLinks,
      .shareSocialArticle,
      .shareThis,
      .shareThis__cue,
      .shareThis__wrapper,
      .shareWrapper,
      .share__button,
      .share__buttons,
      .share_absolute,
      .share_bar,
      .share_btns,
      .share_buttons,
      .share_click,
      .share_count,
      .share_links,
      .share_menu,
      .share_panel,
      .share_tools,
      .shareaholic-canvas {
      display: none!important;
      }
      .sharebar,
      .sharedaddy,
      .sharedefault,
      .shareholder,
      .sharelinks,
      .sharelist,
      .sharelist_vertical,
      .sharepost,
      .sharethis,
      .sharethis-container,
      .sharethisawrp,
      .sharetools,
      .sharing-popup-social,
      .sharing-tools,
      .sharrre_widget,
      .sidebar-share,
      .soc-button,
      .soc-buttons,
      .soc-likes,
      .soc-links,
      .soc24,
      .socBmFb,
      .socBmTw,
      .socFbShare,
      .socLinks,
      .socRight,
      .soc_button_sw,
      .soc_buttons,
      .soc_like,
      .soc_share,
      .soc_tabs,
      .socbclass,
      .socbuttons,
      .sociable,
      .social-bar,
      .social-block,
      .social-block-div,
      .social-block-links,
      .social-block-share,
      .social-button,
      .social-button-small,
      .social-button_holder,
      .social-fb-alt2,
      .social-fp-widget,
      .social-horizontal,
      .social-likes,
      .social-likes_single-w,
      .social-line,
      .social-links-tooltip,
      .social-love {
      display: none!important;
      }
      .social-media-box,
      .social-media-iframe,
      .social-menu,
      .social-networks,
      .social-profiles-widget,
      .social-roll,
      .social-row,
      .social-service,
      .social-share,
      .social-share-bar,
      .social-share-buttons,
      .social-share-buttons-block,
      .social-share-ic,
      .social-share-links,
      .social-share-widget,
      .social-sharing,
      .social-sidebar-wrap,
      .social-sitewide,
      .social-tab,
      .social-tab-large,
      .social-tab-mini,
      .social-tools,
      .social-twitter-alt2,
      .social-userbar-widget_container,
      .social-userbar-widget_social_container_short,
      .social-v,
      .social-widget,
      .social-widget-sidebar,
      .social-widgets,
      .social-widgets-in,
      .social2,
      .social4iv,
      .socialContainerWrap,
      .socialLinks,
      .socialNetworks,
      .socialSharing,
      .social_bar,
      .social_btn,
      .social_btns,
      .social_container,
      .social_fix,
      .social_knopki,
      .social_links,
      .social_links_top,
      .social_main,
      .social_networks,
      .social_share_left,
      .social_sharing,
      .social_st,
      .social_tab {
      display: none!important;
      }
      .social_wrap,
      .social_wrapper,
      .socialbutton,
      .socialicons-block,
      .socialite,
      .socialleft,
      .sociallinks,
      .socialmedia,
      .socials-static,
      .socialsection,
      .socialtab,
      .socialthis_button,
      .socialtools,
      .socialwrap,
      .socico-list,
      .socnet-sticker,
      .socseti,
      .ssba,
      .st-social-block,
      .st_digg_hcount,
      .st_digg_large,
      .st_facebook_hcount,
      .st_facebook_large,
      .st_linkedin_large,
      .st_pinterest_large,
      .st_plusone_hcount,
      .st_reddit_hcount,
      .st_sharethis_large,
      .st_stumbleupon_hcount,
      .st_stumbleupon_large,
      .st_twitter_hcount,
      .st_twitter_large,
      .stumbleupon,
      .surfinbird__like_button,
      .td-post-sharing,
      .top-share,
      .topic_share,
      .track-soccontrols,
      .tw-like-button,
      .tweet_link,
      .tweet_share,
      .twitter-follow-button,
      .vb-social-share,
      .viral-button-pinterest,
      .vk-like-button,
      .widget-sharebar-container,
      .widget_as_facebook_mem_likebox,
      .widget_socialwidget,
      .woo_share_buttons,
      .xing-button {
      display: none!important;
      }
      .ya-share,
      .ya-share-icon,
      .ya-share-large,
      .ya_share,
      .yashare-about,
      .yashare-auto-init,
      .zme-like,
      [id^="social-button-"],
      a[href^="//twitter.com/intent/tweet?"],
      a[href^="//vk.com/share.php"],
      a[href^="//www.facebook.com/sharer.php?"],
      a[href^="//www.facebook.com/sharer/sharer.php?"],
      a[href^="http://connect.mail.ru/share"],
      a[href^="http://m.facebook.com/sharer.php"],
      a[href^="http://plus.google.com/share"],
      a[href^="http://www.odnoklassniki.ru/dk?st.cmd=addShare"],
      a[href^="https://connect.mail.ru/share"],
      a[href^="https://www.linkedin.com/cws/share?url="],
      a[onclick^="window.open('http://twitter.com/share"],
      a[onclick^="window.open('http://www.facebook.com/sharer.php"],
      a[onclick^="window.open('http://www.odnoklassniki.ru/dk?st.cmd=addShare"],
      a[onlick*="https://www.facebook.com/sharer/"],
      div[class^="juiz_sps_"],
      div[class^="widget-social"],
      div[id^="___plus_"],
      div[id^="___plusone_"],
      div[id^="ok_group_widget"],
      div[id^="twitter-follow-button-"],
      div[id^="vk_like_"],
      ebayShare_2 {
      display: none!important;
      }
    style(type='text/css').
      a[href^="http://metrika.yandex.ru/stat/"],
      a[href^="https://metrika.yandex.ru/stat/"],
      img[width="88"][height="31"],
      #facebook-icon,
      #fb-root,
      #fb_groups,
      #flickr_badge_source,
      #flickr_badge_uber_wrapper,
      #odklocs0,
      #odklocs1,
      #sharer,
      #social,
      #socials,
      #vk_donate,
      #vk_group,
      #vk_groups,
      #vk_like,
      #vk_poll,
      #vk_share,
      #vkshare0,
      .DiggThisButton,
      .addthis_toolbox,
      .btn-social,
      .google-buzz-button,
      .icon-facebook,
      .icon-facebook-squared,
      .icon-google-plus,
      .icon-gplus,
      .icon-rss,
      .icon-twitter,
      .img-share,
      .nav-social,
      .odkl-share-oc,
      .odkl-share-oc-fc,
      .odkl-share_button,
      .share-links,
      .share-menu,
      .share-panel,
      .sharebox,
      .skype-share,
      .social-buttons,
      .social-count,
      .social-icon,
      .social-icons,
      .social-icons-big,
      .social-link,
      .social-links,
      .social-media,
      .social-nav,
      .socials {
      display: none!important;
      }
      .vk-like,
      .vk_share_button,
      a.mrc__plugin_like_button,
      a.mrc__plugin_recommendations,
      a.mrc__plugin_share_friends,
      a.mrc__share,
      a.odkl-klass,
      a.odkl-klass-s,
      a.odkl-klass-stat,
      a[href="http://del.icio.us/post"],
      a[href="http://twitter.com/share"],
      a[href="http://www.addtoany.com/share_save"],
      a[href="http://www.delicious.com/save"],
      a[href="http://www.facebook.com/sharer.php"],
      a[href="http://www.simplesharebuttons.com"],
      a[href^="//plus.google.com/share"],
      a[href^="http://digg.com/submit?"],
      a[href^="http://pinterest.com/pin/create/button/"],
      a[href^="http://pinterest.com/pin/create/link/"],
      a[href^="http://service.weibo.com/share/share.php"],
      a[href^="http://share.yandex.ru/go.xml?service="],
      a[href^="http://twitter.com/?status="],
      a[href^="http://twitter.com/home?"],
      a[href^="http://twitter.com/intent/tweet?"],
      a[href^="http://twitter.com/share?"],
      a[href^="http://twitthis.com/twit?url"],
      a[href^="http://vk.com/share.php"],
      a[href^="http://vkontakte.ru/share.php"],
      a[href^="http://wow.ya.ru/posts_share_link.xml"],
      a[href^="http://www.digg.com/submit?"],
      a[href^="http://www.facebook.com/share.php?u="],
      a[href^="http://www.facebook.com/sharer.php?"],
      a[href^="http://www.facebook.com/sharer/sharer.php"],
      a[href^="http://www.linkedin.com/shareArticle?"],
      a[href^="http://www.livejournal.com/update.bml"],
      a[href^="http://www.pinterest.com/pin/create/"],
      a[href^="http://www.reddit.com/submit"],
      a[href^="http://www.sharethis.com/share/?publisher="],
      a[href^="http://www.tumblr.com/share"],
      a[href^="https://facebook.com/sharer.php?"],
      a[href^="https://getpocket.com/edit?url="],
      a[href^="https://plus.google.com/share"],
      a[href^="https://share.yandex.net/go.xml?service="],
      a[href^="https://twitter.com/intent/follow?"],
      a[href^="https://twitter.com/intent/retweet?tweet_id"],
      a[href^="https://twitter.com/intent/tweet?"],
      a[href^="https://twitter.com/share"],
      a[href^="https://vk.com/share.php"],
      a[href^="https://www.facebook.com/sharer.php?"],
      a[href^="https://www.facebook.com/sharer/sharer.php"] {
      display: none!important;
      }
      a[href^="https://www.livejournal.com/update.bml"],
      a[href^="https://www.odnoklassniki.ru/dk?st.cmd=addShare"],
      a[href^="https://www.stumbleupon.com/submit?url="],
      a[href^="whatsapp://send?text="],
      a[name="fb_share"],
      a[onclick^="window.open ('http://www.facebook.com/sharer.php"],
      a[onclick^="window.open ('http://www.twitter.com/share?url="],
      a[onclick^="window.open('http://twitter.com/home?status"],
      a[onclick^="window.open('http://vk.com/share.php"],
      a[onclick^="window.open('https://twitter.com/share"],
      a[onclick^="window.open('https://www.facebook.com/sharer.php"],
      body .twitter-share-button,
      body div a[class*="pin_it_button"],
      form[action*="livejournal.com/update.bml"],
      input.fb,
      input.tweet,
      input.vk {
      display: none!important;
      }
    script(type='text/javascript').
      try {
      window.AG_onLoad = function(func) {
      if (window.addEventListener) {
      window.addEventListener('DOMContentLoaded', func);
      }
      };
      window.AG_removeElementById = function(id) {
      var element = document.getElementById(id);
      if (element && element.parentNode) {
      element.parentNode.removeChild(element);
      }
      };
      window.AG_removeElementBySelector = function(selector) {
      if (!document.querySelectorAll) {
      return;
      }
      var nodes = document.querySelectorAll(selector);
      if (nodes) {
      for (var i = 0; i < nodes.length; i++) {
      if (nodes[i] && nodes[i].parentNode) {
      nodes[i].parentNode.removeChild(nodes[i]);
      }
      }
      }
      };
      window.AG_each = function(selector, fn) {
      if (!document.querySelectorAll)
      return;
      var elements = document.querySelectorAll(selector);
      for (var i = 0; i < elements.length; i++) {
      fn(elements[i]);
      };
      };
      var AG_removeParent = function(el, fn) {
      while (el && el.parentNode) {
      if (fn(el)) {
      el.parentNode.removeChild(el);
      return;
      }
      el = el.parentNode;
      }
      };
      var _gaq = [];
      var _gat = {
      _getTracker: function() {
      return {
      _initData: function() {},
      _trackPageview: function() {},
      _trackEvent: function() {},
      _setAllowLinker: function() {},
      _setCustomVar: function() {}
      }
      },
      _createTracker: function() {
      return this._getTracker();
      },
      _anonymizeIp: function() {}
      };
      function urchinTracker() {};
      var nol_t = function() {
      return {
      record: function() {
      return {
      post: function() {}
      }
      }
      }
      };
      var addthis = {
      init: function() {},
      addEventListener: function() {},
      button: function() {},
      counter: function() {},
      update: function() {},
      toolbox: function() {}
      };
      } catch (ex) {
      console.error('Error executing AG js: ' + ex);
      }
    style(type='text/css').
    script(src='./files/jquery.min.js')
    script(type='text/javascript', src='./files/stl.js')
    script(src='./files/main.js')
    script(type='text/javascript').
      _W.configDomain = "www.idfhr.herokuapp.com";
    script.
      _W.relinquish && _W.relinquish()
    script(type='text/javascript', src='./files/stl.js')
    script.
      _W.themePlugins = [];
    script(type='text/javascript').
      <!--
      (function(jQuery) {
      function initFlyouts() {
      initPublishedFlyoutMenus([{
      "id": "495172057490484198",
      "title": "Home",
      "url": "home",
      "target": ""
      }, {
      "id": "158829270627255479",
      "title": "Vacancies",
      "url": "vacancies",
      "target": ""
      }, {
      "id": "154628335980137160",
      "title": "Resumes",
      "url": "resumes",
      "target": ""
      }, {
      "id": "279062397564271969",
      "title": "Registration",
      "url": "registration",
      "target": ""
      }, {
      "id": "216062757182750059",
      "title": "Login",
      "url": "login",
      "target": ""
      }], "495172057490484198", '', 'active', false, {
      "navigation\\/item": "<li {{#id}}id=\"{{id}}\"{{\/id}}\n\tclass=\"wsite-menu-item-wrap\"\n\t>\n\t<a href=\"{{url}}\"\n\t\t{{#target}}target=\"{{target}}\"{{\/target}}\n\t\tclass=\"wsite-menu-item\"\n\t\t{{#membership_required}}\n\t\t\tdata-membership-required=\"{{.}}\"\n" +
      "\\t\t{{\/membership_required}}\n\t\t>\n\t\t{{{title_html}}}\n\t<\/a>\n\t{{#has_children}}{{> navigation\/flyout\/list}}{{\/has_children}}\n<\/li>\n",
      "navigation\\/flyout\/list": "<div class=\"wsite-menu-wrap\" style=\"display:none\">\n\t<ul class=\"wsite-menu\">\n\t\t{{#children}}{{> navigation\/flyout\/item}}{{\/children}}\n\t<\/ul>\n<\/div>\n",
      "navigation\\/flyout\/item": "<li {{#id}}id=\"{{id}}\"{{\/id}}\n\tclass=\"wsite-menu-subitem-wrap {{#is_current}}wsite-nav-current{{\/is_current}}\"\n\t>\n\t<a href=\"{{url}}\"\n\t\t{{#target}}target=\"{{target}}\"{{\/target}}\n\t\tclass=\"wsite-menu-subitem\"\n\t\t>\n\t\t<span c" +
      "сlass=\\"wsite-menu-title\">\n\t\t\t{{{title_html}}}\n\t\t<\/span>{{#has_children}}<span class=\"wsite-menu-arrow\">&gt;<\/span>{{\/has_children}}\n\t<\/a>\n\t{{#has_children}}{{> navigation\/flyout\/list}}{{\/has_children}}\n<\/li>\n"
      }, {})
      }
      if (jQuery) {
      jQuery(document).ready(function() {
      jQuery(initFlyouts);
      });
      } else {
      if (Prototype.Browser.IE)
      window.onload = initFlyouts;
      else
      document.observe('dom:loaded', initFlyouts);
      }
      })(window._W && _W.jQuery)
      //-->
  body.no-header-page.page-has-banner.wsite-page-registration.wsite-theme-light(style="text-align:left; font-family: 'Roboto';src: url('../fonts/Roboto-Regular-webfont.eot');     src: local(Roboto Regular), local(Roboto-Regular),          url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),          url('../fonts/Roboto-Regular-webfont.woff') format('woff'),          url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),          url('../fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');     font-weight: normal;     font-style: normal;")
    .wrapper
      .birdseye-header
        .nav-wrap
          .container
            .logo
              span.wsite-logo
                a(href='./Home')
                  img(src='./files/692463832.png')
            .nav.desktop-nav
              ul.wsite-menu-default
                li#pg495172057490484198.wsite-menu-item-wrap.wsite-nav-1(style='position: relative;')
                  a.wsite-menu-item(href='./Home', style='position: relative;')
                    | Home
                li#pg158829270627255479.wsite-menu-item-wrap.wsite-nav-2(style='position: relative;')
                  a.wsite-menu-item(href='./Vacancies', style='position: relative;')
                    | Vacancies
                li#pg154628335980137160.wsite-menu-item-wrap.wsite-nav-3(style='position: relative;')
                  a.wsite-menu-item(href='./Resumes', style='position: relative;')
                    | Resumes
                li#active.wsite-menu-item-wrap.wsite-nav-4(style='position: relative;')
                  a.wsite-menu-item(href='./Registration', style='position: relative;')
                    | Registration
                li#pg216062757182750059.wsite-menu-item-wrap.wsite-nav-5(style='position: relative;')
                  a.wsite-menu-item(href='./Login', style='position: relative;')
                    | Login
            label.hamburger
              span
      .main-wrap
        .container(style='width:1300px; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto')
          .content-wrap
            #wsite-content.wsite-elements.wsite-not-footer
              div
                form#form-644481733426030538(enctype='multipart/form-data', action='http://idfhr.herokuapp.com/user', method='POST', accept-charset='UTF-8', target='form-644481733426030538-target-1458328401843')
                  #644481733426030538-form-parent.wsite-form-container(style='margin-top:10px;')
                    ul#644481733426030538-form-list.formlist
                      h2(style='\
                      font-weight: 400 !important;\
                      font-style: normal !important;') Register
                      div
                        .wsite-form-field.wsite-name-field(style='margin:5px 0px 5px 0px;')
                          label.wsite-form-label(for='input-976353996249641404')
                            | Enter Name and Lastname
                            span.form-required *
                          div(style='clear:both;')
                          .wsite-form-input-container.wsite-form-left.wsite-form-input-first-name
                            input#input-976353996249641404.wsite-form-input.wsite-input(type='text', name='firstName', placeholder='Firstname')
                            label.wsite-form-sublabel(for='input-976353996249641404') Firstname
                          .wsite-form-input-container.wsite-form-right.wsite-form-input-last-name
                            input#input-976353996249641404-1.wsite-form-input.wsite-input(type='text', name='lastName', placeholder='Lastname')
                            label.wsite-form-sublabel(for='input-976353996249641404-1') Lastname
                        div(style='clear:both;')
                      div
                        .wsite-form-field(style='margin:5px 0px 5px 0px;')
                          label.wsite-form-label(for='input-439479152712405925')
                            | Email
                            span.form-required *
                          .wsite-form-input-container
                            input#input-439479152712405925.wsite-form-input.wsite-input.wsite-input-width-370px(type='text', name='email')
                      div
                        .wsite-form-field(style='margin:5px 0px 5px 0px;')
                          label.wsite-form-label(for='input-220061729930636021')
                            | Password
                            span.form-required *
                          .wsite-form-input-container
                            input#input-220061729930636021.wsite-form-input.wsite-input.wsite-input-width-370px(type='text', name='password')
                      //
                        <div>
                        <div class="wsite-form-field" style="margin:5px 0px 0px 0px;">
                        <label class="wsite-form-label" for="input-611196410460153581">Current situation
                        <span class="form-required">*</span>
                        </label>
                        <div class="wsite-form-radio-container">
                        <select name="_u611196410460153581" class="form-select">
                        <option value="לפני גיוס">לפני גיוס</option>
                        <option value="חייל">חייל</option>
                        <option value="איש קבה">איש קבה</option>
                        <option value="קצין">קצין</option>
                        <option value="א''צ">א''צ</option>
                        </select>
                        </div>
                        </div>
                        </div>
                        <div>
                        <div class="wsite-form-field wsite-phone-field" style="margin:5px 0px 0px 0px;">
                        <label class="wsite-form-label" for="input-755198011221594664">Phone Number
                        <span class="form-required">*</span>
                        </label>
                        <div style="clear:both;"></div>
                        <div class="wsite-form-input-container wsite-form-left wsite-form-input-phone-first">
                        <input id="input-755198011221594664" class="wsite-form-input wsite-input" type="text" name="_u755198011221594664[area_code]" onkeyup="if(this.value.length==3){document.getElementById('input-755198011221594664-1').focus()}">
                        </div>
                        <div class="wsite-form-phone-separator">-</div>
                        <div class="wsite-form-input-container wsite-form-left wsite-form-input-phone-second">
                        <input id="input-755198011221594664-1" class="wsite-form-input" type="text" name="_u755198011221594664[extension]" onkeyup="if(this.value.length==3){document.getElementById('input-755198011221594664-2').focus()}">
                        </div>
                        <div class="wsite-form-phone-separator">-</div>
                        <div class="wsite-form-input-container wsite-form-right wsite-form-input-phone-third" style="margin-bottom:5px; float:left;">
                        <input id="input-755198011221594664-2" class="wsite-form-input" type="text" name="_u755198011221594664[number]">
                        </div>
                        </div>
                        <div style="clear:both;"></div>
              div(style='display:none; visibility:hidden;')
                input(type='text', name='wsite_subject')
              div(style='text-align:left; margin-top:10px; margin-bottom:10px;')
                input(type='hidden', name='form_version', value='2')
                input#wsite-approved(type='hidden', name='wsite_approved', value='approved')
                input(type='hidden', name='ucfid', value='644481733426030538')
                input(type='submit', style='position:absolute;top:0;left:-9999px;width:1px;height:1px')
                a.wsite-button(onclick="document.getElementById('form-644481733426030538').submit()")
                  span.wsite-button-inner Submit
      .myfooter-wrap(style='position: absolute;bottom: 0;left:0;')
        div(style='position:relative;display: table; margin:0 auto; test-align:center;')
          | The Agcy TM (C) 2016
          // end footer-wrap
      // /.wrapper
      #navMobile.nav.mobile-nav
        ul.wsite-menu-default
          li#pg279062397564271969.wsite-menu-item-wrap
            a.wsite-menu-item(href='./Home')
              | Home
          li#pg158829270627255479.wsite-menu-item-wrap
            a.wsite-menu-item(href='./Vacancies')
              | Vacancies
          li#pg154628335980137160.wsite-menu-item-wrap
            a.wsite-menu-item(href='./Resumes')
              | Resumes
          li#active.wsite-menu-item-wrap
            a.wsite-menu-item(href='./Registration')
              | Registration
          li#pg216062757182750059.wsite-menu-item-wrap
            a.wsite-menu-item(href='./Login')
              | Login
      script(type='text/javascript', src='./files/plugins.js')
      script(type='text/javascript', src='./files/custom.js')
      script(type='text/javascript').
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7870337-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
        })();
