<h1 class=""><%= user.firstName +" "+ user.lastName%></h1>
<ul class="list-unstyled">
  <li>Director, Professor</li>
  <li>The Stavros Niarchos Foundation Centre for Hellenic Studies</li>
  <li>Simon Fraser University</li>
</ul>
    <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
