<div id="wrapper">

  <a href="http://www.readylabs.ca/andre/#sidebar" class="mobilemenu"><i class="fa fa-reorder"></i></a>

  <div id="sidebar" style="left: 0px;
    background-image:url('http://i.imgur.com/aQ57nA1.png');
    background-color: black;background-size: 50%,contain">

    <div id="sidebar-wrapper" tabindex="0" style="overflow-y: hidden; outline: none;">
      <div id="sidebar-inner">
        <!-- Profile/logo section-->
        <div id="profile" class="clearfix">
          <div class="portrate hidden-xs"><img src="http://tranio.ru/upload/anna_kurjanovich_small.png" /></div>
          <div class="title">
            <h2>Jerusalem Petrenko</h2>
            <h3>Palmahim Officer</h3>
          </div>
        </div>
        <!-- /Profile/logo section-->

        <!-- Main navigation-->
        <div id="main-nav" style="padding-bottom: 38px; background-color:black">
          <ul id="navigation">
            <li class="currentmenu">
              <a href="index.html">
                <i class="fa fa-user"></i>
                <div class="text">Personal</div>
              </a>
            </li>

            <li>
              <a href="research.html">
                <i class="fa fa-book"></i>
                <div class="text">Vacancies</div>
              </a>
            </li>

            <li>
              <a href="publication.html">
                <i class="fa fa-edit"></i>
                <div class="text">Resumes</div>
              </a>
            </li>

            <li>
              <a href="teaching.html">
                <i class="fa fa-clock-o"></i>
                <div class="text">Blog</div>
              </a>
            </li>

            <li>
              <a href="gallery.html">
                <i class="fa fa-picture-o"></i>
                <div class="text">Gallery</div>
              </a>
            </li>

            <li>
              <a href="contact.html">
                <i class="fa fa-calendar"></i>
                <div class="text">Support</div>
              </a>
            </li>

            <li class="external">
              <a href="link_url" target="_blank" type="application/octet-stream" download="srecko_joksimovic_resume.pdf">
                <i class="fa fa-download"></i>
                <div class="text">Download CV</div>
              </a>
            </li>
          </ul>
        </div>
        <!-- /Main navigation-->
        <!-- Sidebar footer -->
        <div id="sidebar-footer">
          <div class="social-icons">
            <ul>
              <!--li><a href="#"><i class="fa fa-facebook"></i></a></li-->
              <li><a href="https://twitter.com/s_joksimovic"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>


          <div id="copyright"></div>

        </div>
        <!-- /Sidebar footer -->
      </div>

    </div>
    <div id="ascrail2000" class="nicescroll-rails nicescroll-rails-vr" style="width: 6px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 244px; height: 623px; display: none; opacity: 0;">
      <div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 6px; height: 0px; border: none; border-radius: 0px; background-color: rgb(170, 170, 170); background-clip: padding-box;"></div>
    </div>
  </div>

  <div id="main" class="sideIn" style="display: block; left: 250px; right: 0px;">

    <div id="biography" class="page home" data-pos="home">
      <div class="pageheader">
        <div class="headercontent">
          <div class="section-container">

            <div class="row">
              <div class="col-sm-2 visible-sm"></div>
              <div class="col-sm-8 col-md-5">
                <div class="biothumb">
                  <img alt="image" src="https://d919ce141ef35c47fc40-b9166a60eccf0f83d2d9c63fa65b9129.ssl.cf5.rackcdn.com/images/177483.max-620x600.jpg" class="img-responsive">
                  <div class="overlay">
                    <h1 class=""><%= user.firstName%></h1>
                    <h1 class=""><%= req.session.user.lastName%></h1>
                    <ul class="list-unstyled">
                      <li>Director, Professor</li>
                      <li>The Stavros Niarchos Foundation Centre for Hellenic Studies</li>
                      <li>Simon Fraser University</li>
                    </ul>
                    <!--    <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
                  -->
                  </div>
                </div>

              </div>
              <div class="clearfix visible-sm visible-xs"></div>
              <div class="col-sm-12 col-md-7">
                <h3 class="title">Bio</h3>
                <p>Srećko Joksimović is a PhD student in the Moray House School of Education at the University of Edinburgh, United Kingdom, working under supervision of Prof. <a href="http://www.sfu.ca/~dgasevic/">Dragan Gašević</a> from the University
                  of Edinburgh, in Learning Analytics research field.</p>
                <p> He is an executive committee member of the Society for Learning Analytics Research (SoLAR - http://www.solaresearch.org/) and research assistant at the Learning Innovation and Networked Knowledge Research Lab at University of Texas, Arlington.
                </p>
                <p>With the background in computer science, Srećko's research interests center around the analysis of teaching and learning in networked learning environments. He authored and co-authored several journal and conference papers, and book chapters.
                  Srećko is a recipient of two best paper awards (<a href="http://lak15.solaresearch.org/">LAK15</a> and <a href="http://herdsa2015.org/">HERDSA15</a> conferences) and scholarships by the Simon Fraser University, and the University of
                  Edinburgh.
                </p>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="pagecontents">
        <div class="section color-1">
          <div class="section-container">
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="title text-center">
                  <h3>Professional Experience</h3>
                </div>
                <ul class="ul-dates">
                  <li>
                    <div class="dates">
                      <span>Present</span>
                      <span>2015</span>
                    </div>
                    <div class="content">
                      <h4>Research Assistant</h4>
                      <p><em>University of Edinburgh, UK</em>,
                        <br> Moray House School of Education</p>
                    </div>
                  </li>
                  <li>
                    <div class="dates">
                      <span>Present</span>
                      <span>2015</span>
                    </div>
                    <div class="content">
                      <h4>Research Assistant</h4>
                      <p><em>University of Texas, Arlington</em>,
                        <br> Learning Innovation and Networked Knowledge Research Lab</p>
                    </div>
                  </li>
                  <li>
                    <div class="dates">
                      <span>2015</span>
                      <span>2013</span>
                    </div>
                    <div class="content">
                      <h4>Research Assistant</h4>
                      <p><em>Simon Fraser University, Canada</em>,
                        <br> School of Interactive Arts and Technology</p>
                    </div>
                  </li>
                  <li>
                    <div class="dates">
                      <span>2015</span>
                      <span>2014</span>
                    </div>
                    <div class="content">
                      <h4>Research Assistant</h4>
                      <p><em>Athabasca University, Canada</em>,
                        <br> School of Computing and Information Systems</p>
                    </div>
                  </li>
                  <li>
                    <div class="dates">
                      <span>2013</span>
                      <span>2009</span>
                    </div>
                    <div class="content">
                      <h4>Head of IT Section</h4>
                      <p><em>Simulation Training Center</em>,
                        <br> Serbian Armed Forces, Belgrade, Serbia</p>
                    </div>
                  </li>
                  <li>
                    <div class="dates">
                      <span>2009</span>
                      <span>2006</span>
                    </div>
                    <div class="content">
                      <h4>Software developer</h4>
                      <p><em>The Guard</em>,
                        <br> Serbian Armed Forces, Belgrade, Serbia</p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-5">
                <div class="title text-center">
                  <h3>Education</h3>
                </div>
                <ul class="ul-card">
                  <li>
                    <div class="dy">
                      <span class="degree">Ph.D.</span>
                      <span class="year">2015 -</span>
                    </div>
                    <div class="description">
                      <p class="waht">Ph.D in Learning Analytics</p>
                      <p class="where">Moray House School of Education, University of Edinburgh</p>
                    </div>
                  </li>
                  <li>
                    <div class="dy">
                      <span class="degree">Ph.D</span><span class="year">2013 - 2015</span>
                    </div>
                    <div class="description">
                      <p class="waht">Ph.D in Information Technologies</p>
                      <p class="where">School of Interactive Arts and Technology, Simon Fraser University</p>
                    </div>
                  </li>
                  <li>
                    <div class="dy">
                      <span class="degree">B.Sc &amp; M.Sc</span><span class="year">2001 - 2006</span>
                    </div>
                    <div class="description">
                      <p class="waht">B.Sc and M.Sc in Information Systems</p>
                      <p class="where">Belgrade University (Military Academy), Belgrade, Serbia</p>
                    </div>
                  </li>

                </ul>

              </div>
            </div>
          </div>

        </div>

        <div class="section color-2">
          <div class="section-container">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="title text-center">
                  <h3>Scholarships, Honors, and Awards</h3>
                </div>
                <ul class="timeline">

                  <li class="open">
                    <div class="date">JISC 2015</div>
                    <div class="circle"></div>
                    <div class="data">
                      <div class="subject" style="padding-left: 0px;">Jisc micro-projects: supporting innovation in learning analytics</div>
                      <div class="text row open" style="display: block;">
                        <div class="col-md-2">
                          <img alt="image" class="thumbnail img-responsive" src="http://www.history.navy.mil/bin/imageDownload?image=/content/dam/nhhc/browse-by-topic/Quotes/moh.jpg">
                        </div>
                        <div class="col-md-10">
                          Our proposal: “Automated system for cognitive presence coding” by Vitomir Kovanović, Srećko Joksimović &amp; Dragan Gašević, University of Edinburgh got awarded
                          <a href="http://analytics.jiscinvolve.org/wp/2015/06/15/jisc-micro-projects-supporting-innovation-in-learning-analytics/">
															 JISC microproject funding</a> of £5,000. The project should be completed during the fall 2015 term and presented at JISC meeting in January 2016.
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="date">2015</div>
                    <div class="circle"></div>
                    <div class="data">
                      <div class="subject" style="padding-left: 0px;">Scholarship</div>
                      <div class="text row">
                        <div class="col-md-2">
                          <img alt="image" class="thumbnail img-responsive" src="img/personal/edi-logo.jpeg">
                        </div>
                        <div class="col-md-10">
                          Graduate Studentship, Moray House School of Education, University of Edinburgh
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="date">2015</div>
                    <div class="circle"></div>
                    <div class="data">
                      <div class="subject" style="padding-left: 0px;">Best paper awards</div>
                      <div class="text row">
                        <div class="col-md-2">
                          <img alt="image" class="thumbnail img-responsive" src="img/personal/best-paper.gif">
                        </div>
                        <div class="col-md-10">
                          <p>HERDSA15 Conference, Higher Education Research and Development Society of Australia Inc</p>
                          <p>The 5th International Conference on Learning Analytics and Knowledge (LAK 2015)</p>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="date">2015</div>
                    <div class="circle"></div>
                    <div class="data">
                      <div class="subject">Graduate Fellowship</div>
                      <div class="text row">
                        <div class="col-md-2">
                          <img alt="image" class="thumbnail img-responsive" src="img/personal/sfu-logo.jpg">
                        </div>
                        <div class="col-md-10">
                          Faculty of Communication, Art and Technology, Simon Fraser University
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="date">2015</div>
                    <div class="circle"></div>
                    <div class="data">
                      <div class="subject">GESR188</div>
                      <div class="text row">
                        <div class="col-md-2">
                          <img alt="image" class="thumbnail img-responsive" src="img/personal/sfu-logo.jpg">
                        </div>
                        <div class="col-md-10">
                          Helmut &amp; Hugo Eppich Family Graduate Scholarsh
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="date">2014</div>
                    <div class="circle"></div>
                    <div class="data">
                      <div class="subject">Graduate Fellowship</div>
                      <div class="text row">
                        <div class="col-md-2">
                          <img alt="image" class="thumbnail img-responsive" src="img/personal/sfu-logo.jpg">
                        </div>
                        <div class="col-md-10">
                          Simon Fraser University
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="date">2013</div>
                    <div class="circle"></div>
                    <div class="data">
                      <div class="subject">Data Challenge</div>
                      <div class="text row">
                        <div class="col-md-2">
                          <img alt="image" class="thumbnail img-responsive" src="img/personal/solar-logo.jpg">
                        </div>
                        <div class="col-md-10">
                          3rd Prize at the 1st LAK Data Challenge, held at the 3rd International Conference on Learning Analytics and Knowledge (LAK 2013)
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="section color-1">
          <div class="section-container">
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
                <div class="title text-center">
                  <h3>Statistical and Research Skills</h3>
                </div>
                <ul class="ul-card">
                  <li>
                    <div class="dy">
                      <!--span class="degree"></span-->
                      <span class="year">Statistics</span>
                    </div>
                    <div class="description">
                      <p class="waht">Parametric and non-parametric tests,multivariate analysis, multilevel linermodels, exploratory factor analysis</p>
                      <p class="where"></p>
                    </div>
                  </li>
                  <li>
                    <div class="dy">
                      <!--span class="degree"></span-->
                      <span class="year">Statistical software</span>
                    </div>
                    <div class="description">
                      <p class="waht">R, R-Studio, SPSS, JMP</p>
                      <p class="where"></p>
                    </div>
                  </li>
                  <li>
                    <div class="dy">
                      <!--span class="degree"></span-->
                      <span class="year">Research methods/design</span>
                    </div>
                    <div class="description">
                      <p class="waht">Quantitative content analysis, Quasi-experiment, Survey, Meta-analysis</p>
                      <p class="where"></p>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-5">
                <div class="title text-center">
                  <h3>Technical Skills</h3>
                </div>
                <ul class="ul-card">
                  <li>
                    <div class="dy">
                      <!--span class="degree"></span-->
                      <span class="year">Computer Science</span>
                    </div>
                    <div class="description">
                      <p class="waht">Machine learning, Natural LanguageProcessing, Data Mining, Social Network Analysis</p>
                      <p class="where"></p>
                    </div>
                  </li>
                  <li>
                    <div class="dy">
                      <!--span class="degree"></span-->
                      <span class="year">Programming</span>
                    </div>
                    <div class="description">
                      <p class="waht">Java, Python, PHP, C#, Shell scripting</p>
                      <p class="where"></p>
                    </div>
                  </li>
                  <li>
                    <div class="dy">
                      <!--span class="degree"></span-->
                      <span class="year">Web technologies</span>
                    </div>
                    <div class="description">
                      <p class="waht">JavaScript, Web Services, WCF RIA</p>
                      <p class="where"></p>
                    </div>
                  </li>
                  <li>
                    <div class="dy">
                      <!--span class="degree"></span-->
                      <span class="year">IDEs</span>
                    </div>
                    <div class="description">
                      <p class="waht">Eclipse, Visual Studio, NetBeans</p>
                      <p class="where"></p>
                    </div>
                  </li>

                </ul>

              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>
