<div class="container">

      <h1><%= user.firstName %></h1>

      <h3><%= user.lastName %></h3>
      <hr>
      <h3>token: <%- user.token %></h3>

    <a class="btn btn-medium btn-primary" href="/user/edit/<%= user.id %>">Edit</a>
</div>
